h1 {
    text-align: center;
    color: cornflowerblue;
    font-size: 5 em;
}

.btn-primary {
    color: white;
    background: cornflowerblue;
}

img {
    width: 100%;
    height: auto;
}

li {
    display: inline;
}